// Task constructor
// pass in name, so that when we create a new object with this constructor, we give it the name passed in

var Task = function(name) {
    this.name = name;
    this.completed = false;
    
    this.completed = functio() {
        this.completed = true;
    }
    
    this.save = function() {
        console.log('saving Task')
    }
}